.math-heading {
  padding-bottom:5px;
}

h1.math-heading {
  font-size:1.6rem;
}

h1.math-heading {
  color: #304a76 !important;
}

h2.math-heading > a {
  font-size:1.3rem;
}

h3.math-heading {
  font-size:1.2rem;
}

a {
  text-decoration:none;
  color:#0275d8;
}

a:hover {
  text-decoration:underline;
}

a.math-heading-link {
  color:#000000;
}
